<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.cloud.data.mapper.system.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.cloud.data.domain.po.system.SysUserPo">
        <id column="id" property="id" />
    <result column="updated_time" property="updatedTime" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="address" property="address" />
        <result column="avatar" property="avatar" />
        <result column="description" property="description" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="nick_name" property="nickName" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="username" property="username" />
        <result column="del_flag" property="delFlag" />
        <result column="department_id" property="departmentId" />
        <result column="street" property="street" />
        <result column="pass_strength" property="passStrength" />
        <result column="last_password_reset_time" property="lastPasswordResetTime" />
        <result column="system_type" property="systemType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        updated_time,
        id, created_by, created_time, updated_by, address, avatar, description, email, mobile, nick_name, password, sex, status, type, username, del_flag, department_id, street, pass_strength, last_password_reset_time, system_type
    </sql>

</mapper>
