<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.cloud.data.mapper.thread.ImportDataStepMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.cloud.data.domain.po.thread.ImportDataStepPo">
    <result column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="range_start" property="rangeStart" />
        <result column="range_end" property="rangeEnd" />
        <result column="day" property="day" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="msg" property="msg" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        task_id, range_start, range_end, day, type, status, msg, create_time, update_time, version
    </sql>

</mapper>
