<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chauncy.cloud.data.mapper.organization.RoleMenuRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chauncy.cloud.data.domain.po.organization.RoleMenuRelationPo">
    <result column="id" property="id" />
    <result column="created_time" property="createdTime" />
    <result column="updated_time" property="updatedTime" />
    <result column="created_by" property="createdBy" />
    <result column="updated_by" property="updatedBy" />
        <result column="menu_id" property="menuId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created_time,
        updated_time,
        created_by,
        updated_by,
        menu_id, role_id
    </sql>

</mapper>
